username.txt
ssl4tor
src/appcommander/*
coverage/*
ssl_password.txt
sudo_tor.out
ca.crt
ca-cert.crt
ca-key.pem
cert-key.pem
cert.scr
extfile.cnf
ca.pem
ca.srl
cert.csr
cert.pem
fullchain.pem
*.apk
=*

test/dummy_backups/*
